doctype html
head
    meta(charset='UTF-8')
    title Currency Exchange
    link(rel='stylesheet', href='/css/styles.css')
h3 Currency Exchange
div
    form(action='/currency_exchange' method="post")
        label(for='currency_exchange') Currency from:
        select(name='currency_from', id='')
            each currency in Currency
                option=currency
        br
        label(for='currency_exchange') Currency to:
        select(name='currency_to', id='')
            each currency in Currency
                option=currency
        br
        label(for='currency_exchange') Amount:
        input(type='number', name='amount',min="1" step="any")
        input(type='submit', value='Submit')
